[advice]
    statusHints = false
[alias]
    comit = commit
    git = !git
    grpe = grep
[color]
    ui = true
[completion]
    commands = -gitk
[fetch]
    prune = true
[grep]
    extendedRegexp = true
[init]
    defaultBranch = main
[sendemail]
    smtpuser = asottile
    smtpserver = smtp.mail.umich.edu
    smtpencryption = tls
    smtpserverport = 587
[ui]
    editor = babi
[user]
    name = anthony sottile
    email = asottile@umich.edu
