[color]
    ui = true
[user]
    name = Anthony Sottile
    email = asottile@umich.edu

[alias]
    lol = log --oneline --graph --decorate
    fetch1 = !sh -c 'git fetch "$0" "$1":refs/remotes/"$0"/"$1"'

[ui]
    editor = nano
