set casesensitive
set nowrap
set tabsize 4
set tabstospaces
set regexp

unset locking
unbind ^J main

include ~/nanorc/python.nanorc
include ~/nanorc/cheetah.nanorc
include ~/nanorc/gitignore.nanorc
include ~/nanorc/sls.nanorc
